{{define "title"}}Cubes and Squares{{end}}

{{define "content"}}
<section id="content">
	{{.}}
	<figure>
		<img src="" alt="">
		<figcaption></figcaption>
	</figure>
	<figure>
		<img src="" alt="">
		<figcaption></figcaption>
	</figure>
	<figure>
		<img src="" alt="">
		<figcaption></figcaption>
	</figure>
	<figure>
		<img src="" alt="">
		<figcaption></figcaption>
	</figure>
	<figure>
		<img src="" alt="">
		<figcaption></figcaption>
	</figure>
	<figure>
		<img src="" alt="">
		<figcaption></figcaption>
	</figure>
</section>
{{end}}